<div>
    <h1>Your Bet</h1>
    <hr>
</div>
   
<section id="bet-slip" class="container">
 
      <figure *ngFor= 'let empty of ballsBets; let i= index' class="ball"  [ngStyle]="setMyColor(i)"> <span>{{empty.number}}</span></figure>
        <div>
            <label for="bet">5x</label>
            <input  heigh="40px" type="number" min="1" name="bet" [(ngModel)]="value"  ><button >OK</button>

        </div>
   
      <div>
          <label for="total">Total bet = {{total}} </label>
          <p>Your credit {{credit}}</p>
      </div>

      <button class="btn-blue"  (click)="play()">Place Bet</button>

      <div  >
        <p *ngIf='won' >{{numberSelected}} YOU WON</p>
        <p *ngIf='loser' >  {{numberSelected}}  YOU LOSE</p>
      </div>

  

</section>