<section id="dashboard">
    <section *ngIf="winNumber==null" id="ballContainer"  >
        <h1>Numbers</h1>
        <hr>
        <br/>
      <div *ngIf="betsCounter<maxNumberOfBets" class="container" >

          <figure class="ball" *ngFor="let item of ballsComponent; let i= index" [ngStyle]="setMyColor(i)" (click)="selectNumber($event)"  >
              {{item.number}}</figure>
      </div>
      <button *ngIf="!pendingBet" (click)="clearSelection()" class="btn-blue">Clear Selection</button>
    </section>
    
    <section *ngIf="winNumber!=null" id="ballContainer"  >
            <h1>Numbers</h1>
            <hr>
            <br/>
           <div class="container" >
                <p class="win" *ngIf="winNumber==ballBet.number"> YOU WON </p>
                <p  class = "lose" *ngIf="winNumber!= ballBet.number"> YOU LOSE </p> 
            
              <figure class="ball" [ngStyle]="setMyColor(winNumber-1)" ><span 
              >{{winNumber}}
              </span></figure>
          </div>
          <button *ngIf="!pendingBet" (click)="clearSelection()" class="btn-blue">Clear Selection</button>
        </section>

    <app-bet-slip [ballBetSelected]="ballBet" [numberOfBets]="betsCounter" (nextBet)="removeBet()" (winNumber)="winBall($event)" ></app-bet-slip>
</section>
