
$color-red:#ff0040;
$color-green: #57cea6;
$color-blue: #4744e9d2;
$color-oragne:#e7e435ec;
$color-green: #a200ff7e;
$color-offWhite: #fdf5ee9f;
$color-lightBlue: #00aeffec;

#dashboard{
    display:flex;
    flex-direction: row;
}
.container {
 padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

}
.ball {
   padding: 15px 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana;
    display: flex;
    background: black;
    margin: 2px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    text-align:right;
  }

  .lose,.win{
      font-size:2em;
      color:red;
      text-decoration-color: gold;
      text-transform: capitalize;
  }

  body{
    background-color: $color-offWhite;
}

section {
    align-content: center;
    color:black;
}

.btn-clear {
    align-self: center;
}

#ballContainer{
    border: solid 5px $color-lightBlue;
    border-radius: 15px;
    padding: 20px;
}

app-bet-slip{
    float: right;
    border: solid 5px $color-lightBlue;
    border-radius: 15px;
    margin: 0 auto;
    padding: 20px;
    
}